<yrd-modal #modalComponent 
  [formGroup]="form" 
  [closeOnAccept]="false"
  (accepted)="onAccept()"
  (closing)="onClosing()">
  <ng-template #modalHeader><h4>{{ labelHeader }}</h4></ng-template>
  <ng-template #modalBody>
    <div class="form-group">
      <yrd-desplegable-impresora 
        formControlName="impresora"
        #impresora
        [opcionSeleccione]="true"
        [control]="form.get('impresora')"
        [validationMessages]="validationMessagesImpresora">
      </yrd-desplegable-impresora>
    </div>
    <div class="form-group form-horizontal">
      <label for="habilitado" class="col-sm-3 col-form-label">Habilitado:</label>
      <div class="col-sm-9">
        <input type="checkbox" class="checkbox" id="habilitado" formControlName="habilitado" />
      </div>
    </div>
  </ng-template>
</yrd-modal>
