<div class="form-horizontal">
  <label for="selectEstadoViaje" class="{{ cssClassEtiqueta }} col-form-label">Estado Viaje:</label>
  <div class="{{ cssClassControl }}">
    <select class="form-control" id="selectEstadoViaje" 
      #selectEstadoViaje
      [disabled]="isDisabled" 
      [value]="selectedEntityId"
      [ngClass]="{
        'is-valid' : validControl,
        'is-invalid' : validControl === false
      }"
      (blur)="onTouched(); touched()" 
      (change)="onChange(selectEstadoViaje.value)" >
      <option *ngIf="opcionSeleccione" value="undefined">Seleccione</option>
      <option *ngFor="let entidad of entities" [value]="entidad.id">{{ entidad.descripcion }}</option>
    </select>
    <div class="invalid-feedback">
      <p>{{errorMessage}}</p>
    </div>
  </div>
</div>