<div class="form-horizontal">
  <label for="{{ idForm }}" class="col-sm-3 col-form-label">{{ etiqueta }}:</label>
  <div class="col-sm-9">
    <input #inputPassword type="password" id="{{ idForm }}" class="form-control"
      [disabled]="isDisabled"
      [value]="valor" 
      [ngClass]="{
        'is-valid' : validControl,
        'is-invalid' : validControl === false
      }" 
      (blur)='touched()' 
      (input)="valueChanged(inputPassword.value)"
      yrdFocus [isFocused]="isFocused" [element]="element" />
    <div class="invalid-feedback">
      <p>{{errorMessage}}</p>
    </div>
  </div>
</div>