<fieldset [formGroup]="form">
  <legend class="col-form-label">Búsqueda</legend>
  <div class="row">
    <div class="col-sm-4 form-group">      
      <yrd-autocomplete-patente
        #autocompletePatente
        formControlName="patenteCamion"
        [idForm]="'patenteCamion'"
        [etiqueta]="'Patente Camión'" 
        [cssClassEtiqueta]="'col-sm-4'"
        [cssClassControl]="'col-sm-8'"
        [control]="form.get('patenteCamion')"
        [validationMessages]="validationMessagesPatenteCamion">
      </yrd-autocomplete-patente>
    </div>
    
    <yrd-lectura-tarjeta class="col-sm-3" 
      #tarjeta
      [form]="form" 
      (tarjetaLeida)="onTarjetaLeida()">
    </yrd-lectura-tarjeta>

    <div class="col-sm-2 form-group">
      <button type="button" class="btn btn-primary" [disabled]="botonBuscarDeshabilitado" (click)="onClickBuscar()" i18n>Buscar</button>
      <!-- Boton agregado para poder evitar perder el foco sobre la pantalla -->
        <button class="btn btn-primary btn-blanco" i18n>Buscar</button>
      <!-- ----------------------------------------------------------------  -->
    </div>
  </div>
</fieldset>