<div class="form-horizontal">
  <label for="selectMotivoEstadoMovimiento" class="col-sm-3 col-form-label">Motivo:</label>
  <div class="col-sm-9">
    <select class="form-control" id="selectMotivoEstadoMovimiento" 
      #selectMotivoEstadoMovimiento 
      [disabled]="isDisabled" 
      [value]="selectedEntityId"
      (blur)="onTouched(); touched()" 
      (change)="onChange(selectMotivoEstadoMovimiento.value)">
      <option *ngIf="opcionSeleccione" value="undefined" selected>Seleccione</option>
      <option *ngFor="let entidad of entities" [value]="entidad.id">{{ entidad.descripcion }}</option>
    </select>
  </div>
</div>
