<div class="form-horizontal">
  <label for="selectGrupoRubroAnalisis" class="{{ cssClassEtiqueta }} col-form-label">Tipo Análisis:</label>
  <div class="{{ cssClassControl }}">
    <select class="form-control" id="selectGrupoRubroAnalisis" #selectGrupoRubroAnalisis [disabled]="isDisabled" [value]="selectedEntityId"
      (blur)="onTouched()" (change)="onChange(selectGrupoRubroAnalisis.value)"
      [ngClass]="{
        'is-valid' : control?.valid && control?.touched,
         'is-invalid' : control?.invalid && control?.touched
        }">
      <option value="undefined" selected>Seleccione</option>
      <option *ngFor="let entidad of entities" [value]="entidad.id">{{ entidad.descripcion }}</option>
    </select>
    <div class="invalid-feedback">
      <p>El campo Tipo Análisis es requerido.</p>
  </div>
  </div>
</div>