<form [formGroup]="filtrosForm" class="section-top-padding">
  <div class="form-horizontal">
      <yrd-fecha-con-etiqueta class="col-sm-4" #fechaDesdeControl formControlName="fechaDesde" [etiqueta]="'Fecha Desde'" [control]="filtrosForm.controls.fechaDesde"
      [validationMessages]="validationMessagesFechaDesde"></yrd-fecha-con-etiqueta>
      <yrd-fecha-con-etiqueta class="col-sm-4" formControlName="fechaHasta" [etiqueta]="'Fecha Hasta'" [control]="filtrosForm.controls.fechaHasta"
      [validationMessages]="validationMessagesFechaHasta"></yrd-fecha-con-etiqueta>
  </div>
  <div class="form-horizontal">
      <yrd-desplegable-trabajo-generacion-archivo-muestras class="col-sm-4" formControlName="estado"></yrd-desplegable-trabajo-generacion-archivo-muestras>
  </div>
</form>