.alert {
    background: #f2edda;
    font-size: .9em;
    margin-bottom: 20px;
    margin-left: 22.2%;
    display: inline-block;
    animation: 2s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

.main {
    padding-top: 10px;
    border-top: 0px;
    border-top-style: none !important;
    border-top-left-radius: 0px;
}
