<div [formGroup]="form">
  <div class="form-horizontal">
    <yrd-texto-con-etiqueta class="col-sm-6 form-group" 
      formControlName="cuil" 
      #cuil 
      [etiqueta]="'CUIL'" 
      [cssClassControl]="'col-sm-6'"
      [control]="form.get('cuil')">
    </yrd-texto-con-etiqueta>
    <yrd-texto-con-etiqueta class="col-sm-6 form-group" 
      formControlName="apellidoYNombre" 
      [etiqueta]="'Apellido y Nombre'" 
      [cssClassControl]="'col-sm-6'"
      [control]="form.get('apellidoYNombre')">
    </yrd-texto-con-etiqueta>
  </div>
  <div class="form-horizontal">
    <yrd-desplegable-si-no class="col-sm-6 form-group" 
      formControlName="habilitado"
      [cssClassControl]="'col-sm-4'"
      [control]="form.get('habilitado')">
    </yrd-desplegable-si-no>
  </div>
</div>
