<fieldset [formGroup]="datosMovimientoForm">
  <legend class="col-form-label">Movimiento</legend>

  <div class="form-horizontal">
    <div class="col-sm-12 form-horizontal">
      <yrd-texto-con-etiqueta [idForm]="'tipoDocumentoPorte'" class="col-sm-3" formControlName="tipoDocumentoPorte" [etiqueta]="'Tipo Doc. Porte'"></yrd-texto-con-etiqueta>
      <yrd-texto-con-etiqueta [idForm]="'nroDocumentoPorte'" class="col-sm-3" formControlName="nroDocumentoPorte" [etiqueta]="'Nro. Doc. Porte'"></yrd-texto-con-etiqueta>
      <yrd-texto-con-etiqueta [idForm]="'ctg'" class="col-sm-3" formControlName="ctg" [etiqueta]="'CTG'"></yrd-texto-con-etiqueta>  
      <yrd-texto-con-etiqueta [idForm]="'producto'" class="col-sm-3" formControlName="producto" [etiqueta]="'Producto'"></yrd-texto-con-etiqueta>
    </div>
    <div class="col-sm-12 form-horizontal">
      <yrd-texto-con-etiqueta *ngIf="!esFueraCircuito" [idForm]="'estado'" class="col-sm-3" formControlName="estado" [etiqueta]="'Estado'"></yrd-texto-con-etiqueta>
      <yrd-texto-con-etiqueta [idForm]="'estadoCupo'" class="col-sm-3" formControlName="estadoCupo" [etiqueta]="'Estado Cupo'"></yrd-texto-con-etiqueta>
      <yrd-texto-con-etiqueta [idForm]="'turnoPlaya'" class="col-sm-3" formControlName="turnoPlaya" [etiqueta]="'Turno Playa'"></yrd-texto-con-etiqueta>
      <yrd-texto-con-etiqueta [idForm]="'cosecha'" class="col-sm-3" formControlName="cosecha" [etiqueta]="'Cosecha'"></yrd-texto-con-etiqueta>  
    </div>
    <div class="col-sm-12 form-horizontal">
      <yrd-texto-con-etiqueta [idForm]="'humedad'" class="col-sm-3" formControlName="humedad" [etiqueta]="'Humedad'"></yrd-texto-con-etiqueta>
      <yrd-texto-con-etiqueta [idForm]="'proteina'" class="col-sm-3" formControlName="proteina" [etiqueta]="'Proteína'"></yrd-texto-con-etiqueta>
      <yrd-texto-con-etiqueta [idForm]="'grado'" class="col-sm-3" formControlName="grado" [etiqueta]="'Grado'"></yrd-texto-con-etiqueta>
      <yrd-texto-con-etiqueta *ngIf ="esCarga" [idForm]="'ordenCarga'" class="col-sm-3" formControlName="ordenCarga" [etiqueta]="'Orden Carga'"></yrd-texto-con-etiqueta> 
      <yrd-texto-con-etiqueta *ngIf ="!esCarga" [idForm]="'ordenCompra'" class="col-sm-3" formControlName="ordenCompra" [etiqueta]="'Orden Compra'"></yrd-texto-con-etiqueta>
    </div>
    <div class="col-sm-12 form-horizontal">
      <yrd-texto-con-etiqueta [idForm]="'entregador'" class="col-sm-3" formControlName="entregador" [etiqueta]="'Entregador'"></yrd-texto-con-etiqueta>
      <div class= col-sm-6></div>
      <yrd-texto-con-etiqueta [idForm]="'cantidadEstimada'" class="col-sm-3" formControlName="cantidadEstimada" [etiqueta]="'Cantidad Estimada'"></yrd-texto-con-etiqueta>  
    </div>
  </div>
</fieldset>