<div class="form-horizontal">
  <label *ngIf="habilitarEtiqueta" for="{{ idForm }}" 
          class="{{ cssClassEtiqueta }} col-form-label">{{ etiqueta }}:</label>
  <div class="{{ cssClassControl }}">
    <input type="text" id="{{ idForm }}" class="form-control"
      #inputTexto
      [disabled]="isDisabled"
      [textMask]="{ mask: mascara, guide: false, placeholderChar: ' ', showMask: true }" 
      [value]="valor" 
      [ngClass]="{
        'is-valid' : validControl,
        'is-invalid' : validControl === false
      }" 
      yrdFocus [isFocused]="isFocused" 
      [element]="element"
      (blur)='touched()'
      (input)="valueChanged(inputTexto.value)" />
    <div *ngIf="isLoading" class="icon-container">
      <i class="loader"></i>
    </div>
    <div class="invalid-feedback">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>