<form [formGroup]="form" novalidate>
  <fieldset>
    <yrd-search-form-template #searchFormComponent 
      [botonesHabilitados]="botonesHabilitados"
      [permisosBotones]="permisosBotones"
      [columns]="columns" 
      [filters]="filters"
      [hasDataEditSection]="true"
      [canSearch]="disableButtons || isLoading"
      [singleSelection]="true"
      [rowsOptions]="rowsOptions">

      <ng-template #controlFiltersContainer>                
        <yrd-filtro-busqueda-gestionar-manipuleo #filtrosGestionarManipuleo 
          [form]="form.controls.filtros">
        </yrd-filtro-busqueda-gestionar-manipuleo>
      </ng-template>

      <ng-template #controlEditDataContainer>
        <yrd-datos-edicion-gestionar-manipuleo #datosEdicionManipuleo
          [form]="form.controls.detalle">
        </yrd-datos-edicion-gestionar-manipuleo>

        <div class="float-right section-top-padding">
          <button type="button" class="btn btn-success"
            [disabled]="disableButtons || isLoading"  
            (click)="onClickAceptar()" 
            i18n>Aceptar</button>
          <button type="button" class="btn btn-danger"
            [disabled]="disableButtons || isLoading" 
            (click)="onClickCancelar()"
            i18n>Cancelar</button>
        </div>
      </ng-template>

    </yrd-search-form-template>    
  
  </fieldset>
</form>

<!-- <pre>Form value: {{ form.getRawValue() | json }}</pre>
<pre>Form status: {{ form.status | json }}</pre> -->
