<form [formGroup]="form" novalidate>
  <fieldset>
    <legend class="col-form-label">Detalle</legend>
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-sm-6">
          <yrd-texto-con-etiqueta 
            formControlName="tipoAmbiente"
            [etiqueta]="'Tipo de ambiente'"
            [control]="form.get('tipoAmbiente')"
            [validationMessages]="validationMessagesTipoAmbiente"
            yrdMaxLength [maxLength]=200>
          </yrd-texto-con-etiqueta>
        </div>
        
        <div class="col-sm-6">
          <yrd-texto-con-etiqueta 
            formControlName="ubicacionFisica"
            [etiqueta]="'Ubicación Física'"
            [control]="form.get('ubicacionFisica')"
            [validationMessages]="validationMessagesUbicacionFisica"
            yrdMaxLength [maxLength]=200>
          </yrd-texto-con-etiqueta>
        </div>
      </div> 
      
      <div class="row mt-2">
        <div class="col-sm-6">
          <label for="rolesPrimeraAutorizacion" class="col-form-label">Terminales de Operación:</label>
          <div class="col-sm-12 form-control" style="height: 300px">
            <tree-root #terminalesOperacionTree 
              id="terminalesOperacion" 
              [nodes]="listaTerminalesOperacion" 
              [options]="options">

              <ng-template #treeNodeWrapperTemplate let-node let-index="index">
                <input class="tree-node-checkbox"
                  type="checkbox"
                  [disabled]="detalleDeshabilitado"
                  (click)="node.mouseAction('checkboxClick', $event)"
                  [checked]="node.isSelected"
                  [indeterminate]="node.isPartiallySelected"/>
                <tree-node-expander [node]="node"></tree-node-expander>
                <div class="node-content-wrapper"
                  [class.node-content-wrapper-active]="node.isActive"
                  [class.node-content-wrapper-focused]="node.isFocused"
                  (click)="node.mouseAction('click', $event)"
                  (dblclick)="node.mouseAction('dblClick', $event)"
                  (contextmenu)="node.mouseAction('contextMenu', $event)"
                  (treeDrop)="node.onDrop($event)"
                  (treeDropDragOver)="node.mouseAction('dragOver', $event)"
                  (treeDropDragLeave)="node.mouseAction('dragLeave', $event)"
                  (treeDropDragEnter)="node.mouseAction('dragEnter', $event)"
                  [treeAllowDrop]="node.allowDrop"
                  [allowDragoverStyling]="node.allowDragoverStyling()"
                  [treeDrag]="node"
                  [treeDragEnabled]="node.allowDrag()">
                  <tree-node-content [node]="node" [index]="index">
                    <ng-template #treeNodeTemplate let-node let-index="index">
                      <span [class]="node.data.className + 'Index'">{{ index }}</span>
                      <span [class]="node.data.className" [class.title]="true">{{ node.data.title }}</span>
                    </ng-template>
                  </tree-node-content>
                </div>
              </ng-template>
            </tree-root>
          </div>
        </div>

        <div class="col-sm-6">
          <yrd-checkbox-con-etiqueta class="col-sm-7" 
            formControlName="esAmbienteRemoto"
            [etiqueta]="'Ambiente Remoto '" 
            [control]="form.get('esAmbienteRemoto')">
          </yrd-checkbox-con-etiqueta>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-sm-6">
          <yrd-checkbox-con-etiqueta
            formControlName="esAmbienteDeConfiguracion"
            [etiqueta]="'Ambiente de Configuración'" 
            [control]="form.get('esAmbienteDeConfiguracion')">
          </yrd-checkbox-con-etiqueta>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-sm-6">
          <yrd-texto-con-etiqueta 
            formControlName="conexionSobresTransporte"
            [etiqueta]="'Conexión Sobres Transporte'"
            [control]="form.get('conexionSobresTransporte')"
            [validationMessages]="validationMessagesConexionSobresTransporte"
            yrdMaxLength [maxLength]=200>
          </yrd-texto-con-etiqueta>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-sm-6">
          <yrd-texto-con-etiqueta 
            formControlName="conexionSAN"
            [etiqueta]="'Conexión con SAN'"
            [control]="form.get('conexionSAN')"
            [validationMessages]="validationMessagesconexionSAN"
            yrdMaxLength [maxLength]=200>
          </yrd-texto-con-etiqueta>
        </div>
      </div>

    </div>

    <div class="float-right section-top-padding">
      <button type="button" class="btn btn-success" 
        [disabled]="isLoading" 
        (click)="onClickAceptar()" i18n>Aceptar
      </button>
      <button type="button" class="btn btn-danger" 
        [disabled]="isLoading"  
        (click)="onClickCancelar()" i18n>Cancelar
      </button>
    </div>
  </fieldset>
</form>