<div class="form-horizontal">
  <label for="inputSede" class="col-sm-3 col-form-label">{{ etiqueta }}:</label>
  <div class="{{ cssClassControl }}">
    <div class="input-group">
      <input type="text" id="inputSede" maxlength="11" class="form-control" 
        #inputSede 
        [value]="codigo" 
        [disabled]="isDisabled"
        (blur)="buscar(inputSede.value)" 
        [ngClass]="{
          'is-valid' : validControl,
          'is-invalid' : validControl === false
        }" />
      <div class="input-group-append" *ngIf="advancedSearch">
        <button class="btn btn-outline-secondary"
          type="button"
          [disabled]="isDisabled"
          (click)="abrirBusquedaAvanzada()">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </div>
      <div class="invalid-feedback">
        <p>{{errorMessage}}</p>
      </div>
    </div>
  </div>
  <strong class="col-sm-5 col-form-label">{{ currentEntity?.descripcion }}</strong>
</div>

<yrd-advanced-search-form
  #advancedComponent
  [rows]="rows" 
  [selected]="selected" 
  [columns]="columns"
  [service]="service"
  [filters]="filters"
  [entityName]="etiqueta"
  (accepted)="setCurrentEntity($event); this.notifyChange(); setFocus()"
  (closing)="setFocus()">
  
  <ng-template #controlFiltersContainer>
    <div [formGroup]="advancedSearchForm" class="form-horizontal">
      <yrd-numero-con-etiqueta 
        class="col-sm-5"
        formControlName="codigo"
        [isFocused]="true" 
        [control]="advancedSearchForm.get('codigo')"
        [etiqueta]="'Código'">
      </yrd-numero-con-etiqueta>
      <yrd-texto-con-etiqueta 
        class="col-sm-7"
        formControlName="descripcion"
        [control]="advancedSearchForm.get('descripcion')"
        [etiqueta]="'Sede'">
      </yrd-texto-con-etiqueta>
    </div>
  </ng-template>

</yrd-advanced-search-form>

<ng-template 
  #selectCellTemplate 
  ngx-datatable-cell-template 
  let-value="value" 
  let-isSelected="isSelected" 
  let-onCheckboxChangeFn="onCheckboxChangeFn">
  <label class="datatable-checkbox">
      <input type="checkbox" 
        [checked]="isSelected" 
        (change)="onCheckboxChangeFn($event)" />
  </label>
</ng-template>