<yrd-modal #modalComponent 
  [formGroup]="form"
  [closeOnAccept]="false"
  (accepted)="onAccept()"
  (closing)="onClosing()">
  
  <ng-template #modalHeader><h4>{{ labelHeader }}</h4></ng-template>

  <ng-template #modalBody>
    <div class="row">
      <div class="col-sm form-group">
        <yrd-desplegable-valor-booleano
          #decision
          formControlName="decision"
          [control]="form.get('decision')"
          [opcionSeleccione]="true"
          [cssClassEtiqueta]="'col-sm-3'"
          [cssClassControl]="'col-sm-6 padding-left-custom'"
          [etiquetaPrincipal]="'Decisión:'"
          [etiquetaTrue]="'Aceptar'"
          [etiquetaFalse]="'Rechazar'"
          [validationMessages]="validationMessagesDecision">
        </yrd-desplegable-valor-booleano>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm form-group">
        <yrd-text-area-con-etiqueta 
          formControlName="observacion"
          id="observacion"
          [cssClassEtiqueta]="'col-sm-3'"
          [cssClassControl]="'col-sm-8 padding-left-custom'"
          [rows]="3"
          [control]="form.get('observacion')"
          [etiqueta]="'Observacion'"
          [maxLength]="200">
        </yrd-text-area-con-etiqueta>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm form-group">
        <yrd-archivo-con-etiqueta
          id="idArchivo"
          #archivo
          formControlName="archivos"
          [idForm]="'idArchivos'"
          [control]="form.get('archivos')"
          [etiqueta]="'Archivos'"
          [cssClassControl]="'col-sm-8'"
          [cssClassEtiqueta]="'col-sm-3'"
          [maxSize]="CINCO_MEBIBYTE"
          [sizeErrorMessage]="ERROR_MESSAGE">
        </yrd-archivo-con-etiqueta>
      </div>
    </div>    
  </ng-template>

  <ng-template #modalFooter>
    <button type="button" 
      [disabled]="isLoading" 
      [hidden]="!terminal.usaAceptarYContinuar"
      class="btn btn-primary"
      (click)="aceptarContinuar()">Aceptar y Continuar
    </button> 
    <button #aceptarModal id="btnAceptarModal" 
      [disabled]="isLoading"
      type="button" 
      class="btn btn-success"
      (click)="onAccept()">Aceptar
    </button>
    <button #cancelModal id="btnCancelModal" 
      [disabled]="isLoading"
      type="button" 
      class="btn btn-danger"
      (click)="modal.close()">Cancelar
    </button>
  </ng-template>

</yrd-modal>
