<div [formGroup]="form">
  <div class="row">
    <div class="col-sm-6 form-group">
      <yrd-desplegable-circuito 
        [soloHabilitados]="true"
        formControlName="circuito"
        #circuito
        [permiso]="Permission.AdministrarAutorizacionesBalanza"
        [opcionSeleccione]="true"
        [validationMessages]="validationMessagesCircuito"
        [control]="form.get('circuito')">
      </yrd-desplegable-circuito>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
      <yrd-desplegable-valor-booleano
        formControlName="esEntrada"
        [control]="form.get('esEntrada')"
        [opcionSeleccione]="true"
        [cssClassControl]="'col-sm-5'"
        [validationMessages]="validationMessagesEsEntrada"
        [etiquetaPrincipal]="'Sentido Balanza:'"
        [etiquetaTrue]="'Es Entrada'"
        [etiquetaFalse]="'Es Salida'">
      </yrd-desplegable-valor-booleano>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
      <yrd-desplegable-motivo-error-balanza-circuito 
        #motivo
        formControlName="motivoErrorBalanzaCircuito"
        [opcionSeleccione]="true"
        [cssClassControl]="'col-sm-5'"
        [esEntrada]="formEsEntrada"
        [circuito]="formCircuito"
        [validationMessages]="validationMessagesMotivoErrorBalanzaCircuito"
        [control]="form.get('motivoErrorBalanzaCircuito')">
      </yrd-desplegable-motivo-error-balanza-circuito>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
      <yrd-autocomplete-vendedor
            formControlName="vendedor"
            [etiqueta]="'Vendedor'" 
            [cssClassControl]="'col-sm-5'"
            [control]="form.get('vendedor')" 
            [validationMessages]="validationMessagesVendedor">
          </yrd-autocomplete-vendedor>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
      <yrd-numero-con-etiqueta 
        formControlName="tope"
        #tope
        [control]="form.get('tope')"
        [etiqueta]="'Tope'"
        [cssClassControl]="'col-sm-5'">
      </yrd-numero-con-etiqueta>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
      <div class="form-group form-horizontal">
        <label for="habilitado" class="col-sm-3 col-form-label">Habilitado:</label>
        <div class="col-sm-9">
          <input #habilitado type="checkbox" class="checkbox" id="habilitado" formControlName="habilitado" />
        </div>
      </div>
    </div>
  </div>
  <div class="form-horizontal">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="rolesPrimeraAutorizacion" class="col-form-label">Roles 1era Autorización:</label>
        <div class="col-sm-12 form-control" style="height: 300px">
          <tree-root #rolesPrimeraAutorizacionTree id="rolesPrimeraAutorizacion" [nodes]="rolesPrimeraAutorizacion" [options]="options">
            <ng-template #treeNodeWrapperTemplate let-node let-index="index">
              <input class="tree-node-checkbox"
                    type="checkbox"
                    [disabled]="detalleDeshabilitado"
                    (click)="node.mouseAction('checkboxClick', $event)"
                    [checked]="node.isSelected"
                    [indeterminate]="node.isPartiallySelected"/>
              <tree-node-expander [node]="node"></tree-node-expander>
              <div class="node-content-wrapper"
                [class.node-content-wrapper-active]="node.isActive"
                [class.node-content-wrapper-focused]="node.isFocused"
                (click)="node.mouseAction('click', $event)"
                (dblclick)="node.mouseAction('dblClick', $event)"
                (contextmenu)="node.mouseAction('contextMenu', $event)"
                (treeDrop)="node.onDrop($event)"
                (treeDropDragOver)="node.mouseAction('dragOver', $event)"
                (treeDropDragLeave)="node.mouseAction('dragLeave', $event)"
                (treeDropDragEnter)="node.mouseAction('dragEnter', $event)"
                [treeAllowDrop]="node.allowDrop"
                [allowDragoverStyling]="node.allowDragoverStyling()"
                [treeDrag]="node"
                [treeDragEnabled]="node.allowDrag()">
                <tree-node-content [node]="node" [index]="index">
                  <ng-template #treeNodeTemplate let-node let-index="index">
                    <span [class]="node.data.className + 'Index'">{{ index }}</span>
                    <span [class]="node.data.className" [class.title]="true">{{ node.data.title }}</span>
                  </ng-template>
                </tree-node-content>
              </div>
            </ng-template>
          </tree-root>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="rolesSegundaAutorizacion" class="col-form-label">Roles 2da Autorización:</label>
        <div class="col-sm-12 form-control" style="height: 300px">
          <tree-root #rolesSegundaAutorizacionTree id="rolesSegundaAutorizacion" [nodes]="rolesSegundaAutorizacion" [options]="options">
            <ng-template #treeNodeWrapperTemplate let-node let-index="index">
              <input class="tree-node-checkbox"
                    type="checkbox"
                    [disabled]="detalleDeshabilitado"
                    (click)="node.mouseAction('checkboxClick', $event)"
                    [checked]="node.isSelected"
                    [indeterminate]="node.isPartiallySelected"/>
              <tree-node-expander [node]="node"></tree-node-expander>
              <div class="node-content-wrapper"
                [class.node-content-wrapper-active]="node.isActive"
                [class.node-content-wrapper-focused]="node.isFocused"
                (click)="node.mouseAction('click', $event)"
                (dblclick)="node.mouseAction('dblClick', $event)"
                (contextmenu)="node.mouseAction('contextMenu', $event)"
                (treeDrop)="node.onDrop($event)"
                (treeDropDragOver)="node.mouseAction('dragOver', $event)"
                (treeDropDragLeave)="node.mouseAction('dragLeave', $event)"
                (treeDropDragEnter)="node.mouseAction('dragEnter', $event)"
                [treeAllowDrop]="node.allowDrop"
                [allowDragoverStyling]="node.allowDragoverStyling()"
                [treeDrag]="node"
                [treeDragEnabled]="node.allowDrag()">
                <tree-node-content [node]="node" [index]="index">
                  <ng-template #treeNodeTemplate let-node let-index="index">
                    <span [class]="node.data.className + 'Index'">{{ index }}</span>
                    <span [class]="node.data.className" [class.title]="true">{{ node.data.title }}</span>
                  </ng-template>
                </tree-node-content>
              </div>
            </ng-template>
          </tree-root>
        </div>
      </div>
    </div>
  </div>
</div>