<form [formGroup]="form" novalidate>
  <fieldset>
    <yrd-search-form-template 
      #searchFormComponent 
      [botonesHabilitados]="botonesHabilitados"
      [permisosBotones]="permisosBotones"
      [columns]="columns" 
      [filters]="filters"
      [hasDataEditSection]="true"
      [canSearch]="disableButtons"
      [singleSelection]="true"
      [rowsOptions]="rowsOptions">

      <ng-template #controlFiltersContainer>
        <yrd-filtro-administrar-parametros-por-terminal 
          #filtro 
          [form]="form.controls.filtros">
        </yrd-filtro-administrar-parametros-por-terminal>
      </ng-template>

      <ng-template #controlEditDataContainer>
        <yrd-detalle-administrar-parametros-por-terminal 
          #detalle 
          [form]='form.controls.detalle'>
        </yrd-detalle-administrar-parametros-por-terminal>
  
        <div class="float-right section-top-padding">
          <button type="button" class="btn btn-success" 
            [disabled]="disableButtons || esConsulta || isLoading" 
            (click)="onClickAceptar()" i18n>Aceptar
          </button>
          <button type="button" class="btn btn-danger" 
            [disabled]="disableButtons || isLoading"  
            (click)="onClickCancelar()" i18n>Cancelar
          </button>
        </div>
      </ng-template>
    </yrd-search-form-template>
  </fieldset>
</form>