<div class="form-horizontal">
  <label for="selectTerminal"
         class="{{ cssClassEtiqueta }} col-form-label">Terminal:
  </label>
  <div class="{{ cssClassControl }}">
    <select class="form-control"
            id="selectTerminal" 
            #selectTerminal
            [disabled]="isDisabled" 
            [value]="selectedEntityId"
            [ngClass]="{
              'is-valid' : validControl,
              'is-invalid' : validControl === false
            }"
            (blur)="onTouched(); touched()" 
            (change)="onChange(selectTerminal.value)">
      <option *ngIf="opcionSeleccione"
              value="undefined">Seleccione
      </option>
      <option *ngFor="let entidad of entities"
              [value]="entidad.id">{{ entidad.descripcion }}
      </option>
    </select>
    <div class="invalid-feedback">
      <p>{{errorMessage}}</p>
    </div>
  </div>
</div>