<fieldset [formGroup]="decisionMovimientoForm">
  <legend class="col-form-label">Decisión</legend>
  <div class="row">
      <div class="col-sm-3 form-group">
          <yrd-desplegable-decision-calidad
            [opcionSeleccione]="true"
            formControlName="decision"
            [control]="decisionMovimientoForm.get('decision')"
            [cssClassEtiqueta]="'col-sm-4'"
            [cssClassControl]="'col-sm-6'">
          </yrd-desplegable-decision-calidad>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-4 form-group">
      <yrd-texto-con-etiqueta
        formControlName="coeficiente"
        [idForm]="'coeficiente'"
        [control]="decisionMovimientoForm.get('coeficiente')"
        [cssClassEtiqueta]="'col-sm-3'"
        [cssClassControl]="'col-sm-6'"
        [etiqueta]="'Coeficiente'">
      </yrd-texto-con-etiqueta>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-group">
      <yrd-text-area-con-etiqueta 
        formControlName="observacion"
        [cssClassEtiqueta]="'col-sm-1'"
        [cssClassControl]="'col-sm-11'"
        [rows]="3"
        [control]="decisionMovimientoForm.get('observacion')"
        [etiqueta]="'Observacion'"
        [maxLength]="500">
      </yrd-text-area-con-etiqueta>
    </div>
  </div>
</fieldset>
