<div [formGroup]="form">
  <div class="form-horizontal">
      <yrd-desplegable-terminal
          #terminal
          class="col-sm-6 form-group"
          formControlName="terminal"
          [opcionSeleccione]="true"
          [cssClassControl]="'col-sm-6'" 
          [permiso]="Permission.AdministrarProductosHabilitadosPorTerminal"      
          [control]="form.get('terminal')">
      </yrd-desplegable-terminal>
      <yrd-desplegable-si-no
          [label] = "'Habilitado'"
          class="col-sm-6 form-group"
          formControlName="habilitado"
          [cssClassControl]="'col-sm-5'"
          [control]="form.get('habilitado')">
      </yrd-desplegable-si-no>
  </div>
</div>