<div class="form-horizontal">
  <label for="referenciaDestino" class="col-sm-4 col-form-label">Referencia Destino:</label>
  <div class="col-sm-8">
    <select class="form-control" id="selectReferenciaDestino" #referenciaDestino [disabled]="isDisabled" [value]="selectedEntityId"
      (blur)="onTouched()" (change)="onChange(referenciaDestino.value)" 
      [ngClass]="{
          'is-valid' : validControl,
          'is-invalid' : validControl === false
          }">
      <option value="undefined" selected>Seleccione</option>
      <option *ngFor="let entidad of entities" [value]="entidad.id">{{ entidad.descripcion }}</option>
    </select>
    <div class="invalid-feedback">
      <p>{{errorMessage}}</p>
    </div>
  </div>
</div>