<div class="container-fluid">
  <form [formGroup]="registrarPesoForm" novalidate>
    <yrd-busqueda-movimiento-pesaje #busquedaMovimiento 
      [esTren] ='false' 
      [esFueraCircuito]="false" 
      [disableButtons]="!disableButtons"  
      [busquedaMovimientoForm]="registrarPesoForm.controls.busquedaMovimiento"
      [esNavegacion]="esNavegacion"
      (searchClicked)="getMovimientoPesaje()"
      (habilitarBalanzaClicked)="onHabilitarBalanzaClicked()">
    </yrd-busqueda-movimiento-pesaje>
    <yrd-circuito 
      [circuitoForm]="registrarPesoForm.controls.circuito" 
      [completarTipoProducto]="false">
    </yrd-circuito>
    <yrd-datos-movimiento-pesaje 
      [esCarga]="!esDescarga" 
      [esFueraCircuito]="false"
      [datosMovimientoForm]="registrarPesoForm.controls.datosMovimiento">
    </yrd-datos-movimiento-pesaje>
    <div class="form-horizontal">
      <yrd-datos-pesaje #datosPesajeComponent class="col-sm-6" 
        [datosPesajeForm]="registrarPesoForm.controls.datosPesaje"
        [esFueraCircuito]="false" 
        [esAutomatico]="esAutomatico" 
        [esEntrada]="esEntrada" 
        [idAccion]="idAccion"
        [esDescarga] = "esDescarga"
        [idMovimiento]="movimiento?.id"
        [patente]="movimiento?.patente"
        [tarjeta]="movimiento?.tarjeta"
        (tomarPesaje)="onTomarPesaje()"
        (completeMotivosPesajeBruto)="completeMotivosPesajeBruto()"
        (completeMotivosPesajeTara)="completeMotivosPesajeTara()">
      </yrd-datos-pesaje>
      <fieldset class="col-sm-6">
        <legend class="col-form-label">{{ textoDescargaCarga }}</legend>
        <yrd-desplegable-condicion-manipuleo 
          #desplegableCondicionManipuleo
          formControlName="lugarDescargaCarga"
          [control]="registrarPesoForm.controls.lugarDescargaCarga" 
          [movimientoPesaje]="movimiento"
          [esSalida]="!esEntrada"
          [esCarga]="esCarga"
          [pesoNeto]="pesoNeto"
          [deshabilitarActualizarManipuelo]="disableButtons"
          [validationMessages]="validationMessagesCondicionManipuleo"
          (disponibilidadCondicionManipuleo)="completeMotivosProductoCalidad($event)"
          (stockDisponible)="onStockDisponible($event)"
          (actualizarCantidadEstimada)="actualizarCantidadEstimada($event)">
        </yrd-desplegable-condicion-manipuleo>
      </fieldset>
    </div>
    <yrd-situacion-entrada        
      [situacionEntradaForm]="registrarPesoForm.controls.situacionEntradaInformativa"
      [esDescarga]="esDescarga"
      [ngClass]="{'collapse': esEntrada }">
    </yrd-situacion-entrada>
    <yrd-situacion-egreso
      [situacionSalidaForm]="registrarPesoForm.controls.situacionSalidaInformativa"
      [esDescarga]="esDescarga"
      [ngClass]="{'collapse': !esEntrada || esSuPrimeraVez}">
    </yrd-situacion-egreso>
  </form>
  <div class="mt-3">        
    <div class="float-right">
      <button type="button" #botonResolverSituacion [disabled]="disableButtons" class="btn btn-primary" (click)="resolverSituacion()" i18n>Resolver Situación</button>
      <button type="button" [hidden]="!terminal.usaAceptarYContinuar" [disabled]="disableButtons  || disableAceptar" class="btn btn-primary" (click)="aceptarContinuar()">Aceptar y Continuar</button>
      <button type="button" #botonAceptar [disabled]="disableButtons  || disableAceptar" class="btn btn-success" (click)="aceptar()">Aceptar</button>
      <button type="button" [disabled]="disableButtons" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
  <!-- <pre>Form value: {{ registrarPesoForm.getRawValue() | json }}</pre>  
  <pre>Form status: {{ registrarPesoForm.status | json }}</pre> -->
</div>
<yrd-modal-autorizacion #modalAutorizacion (autorizacionCompletada)="onAutorizacionCompletada($event)"></yrd-modal-autorizacion>

<yrd-modal-situacion-balanza 
  #modalSituacionEntrada 
  [form]="registrarPesoForm.controls.situacionEntrada"
  [idEstado]="movimiento?.idEstado"
  [esEntrada]="true"
  [esDescarga]="esDescarga"
  (accepted)="onAcceptedSituacionBalanza()"
  (closing)="onClosingSituacionBalanza()">
</yrd-modal-situacion-balanza>

<yrd-modal-situacion-balanza 
  #modalSituacionSalida 
  [form]="registrarPesoForm.controls.situacionSalida"
  [esEntrada]="false"
  [esDescarga]="esDescarga"
  [esInsumoLiquidoRechazado]="movimiento?.esInsumoLiquidoRechazado"
  (accepted)="onAcceptedSituacionBalanza()"
  (closing)="onClosingSituacionBalanza()">
</yrd-modal-situacion-balanza>


