<div class="form-horizontal">
  <label for="selectGrado" class="col-sm-3 col-form-label">Grado:</label>
  <div class="col-sm-9">
    <select class="form-control" id="selectGrado" #selectGrado [disabled]="isDisabled" [value]="selectedEntityId" (blur)="onTouched()"
      (change)="onChange(selectGrado.value)" [ngClass]="{
        'is-valid' : control?.valid && control?.touched,
         'is-invalid' : control?.invalid && control?.touched
        }">
      <option value="undefined" selected>Seleccione</option>
      <option *ngFor="let entidad of entities" [value]="entidad.id">{{ entidad.descripcion }}</option>
    </select>
    <div class="invalid-feedback">
        <p>El campo Grado es requerido.</p>
      </div>
  </div>
</div>