<div class="form-horizontal">
  <label for="selectCamara"
         class="{{ cssClassEtiqueta }} col-form-label">{{ etiqueta }}:
  </label>
  <div class="{{ cssClassControl }}">
    <select class="form-control" 
            id="selectCamara" 
      #selectCamara
      [disabled]="isDisabled" 
      [value]="selectedEntityId"
      [ngClass]="{
        'is-valid' : validControl,
        'is-invalid' : validControl === false
      }"
      (blur)="onTouched()" 
      (change)="onChange(selectCamara.value)" >
      <option *ngIf="opcionSeleccione"
              value="undefined">Seleccione
      </option>
      <option *ngFor="let entidad of entities"
              [value]="entidad.id">{{ entidad.descripcion }}
      </option>
    </select>
    <div class="invalid-feedback">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
