<div class="form-horizontal">
  <label for="selectTipoEvento" class="{{ cssClassEtiqueta }} col-form-label">Tipo:</label>
  <div class="{{ cssClassControl }}">
    <select class="form-control" id="selectDispositivo" 
      #selectTipoEvento
      [disabled]="isDisabled" 
      [value]="selectedEntityId"
      [ngClass]="{
        'is-valid' : validControl,
        'is-invalid' : validControl === false
      }"
      (blur)="onTouched(); touched()" 
      (change)="onChange(selectTipoEvento.value)" >
      <option *ngIf="opcionSeleccione" value="undefined">Todos</option>
      <option *ngFor="let entidad of entities" [value]="entidad.id">{{ entidad.descripcion }}</option>
    </select>
    <div class="invalid-feedback">
      <p>{{errorMessage}}</p>
    </div>
  </div>
</div>