<div [formGroup]="form">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <yrd-texto-con-etiqueta 
          formControlName="nombre" 
          #nombre
          [control]="form.get('nombre')" 
          [etiqueta]="'Nombre'"
          [validationMessages]="validationMessagesNombre">
        </yrd-texto-con-etiqueta>
      </div>
      <div class="form-group">
        <yrd-texto-con-etiqueta 
          formControlName="uncPath" 
          [control]="form.get('uncPath')" 
          [etiqueta]="'UNC Path'"
          [validationMessages]="validationMessagesUncPath">
        </yrd-texto-con-etiqueta>
      </div>
      <div class="form-group">
        <div class="form-group form-horizontal">
          <label for="habilitado" class="col-sm-3 col-form-label">Habilitado:</label>
          <div class="col-sm-9">
            <input type="checkbox" class="checkbox" id="habilitado" formControlName="habilitado" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>