<div class="container-fluid">
  <form [formGroup]="form" novalidate>
      <yrd-circuito [circuitoForm]="form.controls.circuito" [completarTipoProducto]="completarTipoProducto">
      </yrd-circuito>
      <yrd-documento-porte #documentoPorte [tipoProducto]="tipoProductoSeleccionada" [tipoTransporte]="tipoTransporte" [maskRegex]="tipoDocPorteRegex" [documentoPorteForm]="form.controls.documentoPorte" [esFueraCircuito]="esFueraCircuito" [esCarga]="true">
      </yrd-documento-porte>

      <yrd-fecha-periodo-stock-san *ngIf="esFueraCircuito && productoImputaStock && movimientoSanExitoso" [fechaPeriodoStockSanForm]="form.controls.fechaPeriodoStockSan">
      </yrd-fecha-periodo-stock-san>

      <yrd-detalle-modificar-datos-orden-carga-camion-insumo-varios #datosDocumento [esConsulta]="esConsulta" [esModificacionOConsultaMovimiento]="esModificacionOConsultaMovimiento" [tipoProducto]="tipoProductoSeleccionada" [movimientoCarga]="movimientoCarga" [esFueraCircuito]="esFueraCircuito"
          [idViaje]="idViaje">
      </yrd-detalle-modificar-datos-orden-carga-camion-insumo-varios>

      <div class="mt-3">
          <div class="float-right" style="margin-bottom: 20pt">
              <button type="button" class="btn btn-success" [hidden]="esConsulta" [disabled]="disableAcceptButton" (click)="onClickAceptar()" i18n>Aceptar
      </button>
              <button type="button" class="btn btn-danger" (click)="onClickCancelar()" i18n>Cancelar
      </button>
          </div>
      </div>
  </form>
</div>
<yrd-modal-asignar-tarjeta #modalAsignarTarjeta (tarjetaAsignada)="onTarjetaAsignada()"></yrd-modal-asignar-tarjeta>
<!-- <pre>Form value: {{ form.getRawValue() | json }}</pre>
<pre>Form status: {{ form.status | json }}</pre> -->