
<yrd-modal #modalComponent [formGroup]="modalMostrarMensajeForm">
    <ng-template #modalHeader><h2>{{ labelHeader }}</h2></ng-template>
    <ng-template #modalBody>              
        <div class="col-sm-12">
          <yrd-text-area-con-etiqueta #textoMensaje 
            [idForm]="'modalMostrarMensajeForm'" 
            class="col-sm-6" 
            formControlName="mensaje" 
            [etiqueta]="'Observación'"
            [control]="modalMostrarMensajeForm.get('mensaje')"></yrd-text-area-con-etiqueta>  
        </div>        
    </ng-template>
    <ng-template #modalFooter>  
      <button #cancelModal id="btnCancelModal" #cancelButton type="button" class="btn btn-danger" (keydown)="cancelTabPressed($event)" (click)="modalComponent.close()" >Cerrar</button>
    </ng-template>
  </yrd-modal>