<div class="form-horizontal">
  <label for="selectMedioDePago" class="col-sm-4 col-form-label">Medio de pago:</label>
  <div class="col-sm-8">
    <select class="form-control" id="selectMedioDePago" #selectMedioDePago [disabled]="isDisabled" [value]="selectedEntityId" (blur)="onTouched()"
      (change)="onChange(selectMedioDePago.value)" [ngClass]="{
        'is-valid' : control?.valid && control?.touched,
         'is-invalid' : control?.invalid && control?.touched
        }">
      <option *ngIf="opcionSeleccione" value="undefined">Seleccione</option>
      <option *ngFor="let entidad of entities" [value]="entidad.id">{{ entidad.descripcion }}</option>
    </select>
    <div class="invalid-feedback">
        <p>El campo Medio de pago es requerido.</p>
      </div>
  </div>
</div>