<div class="form-horizontal">
  <label for="selectDesplegableInterfazSan" class="col-sm-3 col-form-label" i18n>Estado:</label>
  <div class="col-sm-9">
    <select class="form-control" id="selectDesplegableInterfazSan" 
      #selectDesplegableInterfazSan 
      [disabled]="isDisabled" 
      [value]="selectedEntityId" 
      (blur)="onTouched()"
      (change)="onChange(selectDesplegableInterfazSan.value)">
      <option *ngFor="let entidad of entities" [value]="entidad.id">{{ entidad.descripcion }}</option>
    </select>
  </div>
</div>