yrd-data-grid input[type="number"] {
    width: 80%;
}

:host ::ng-deep .modal-dialog {
    max-width: 800px !important;
}

:host ::ng-deep .datatable-body-row input {
    margin-left: 0%;
}

:host ::ng-deep .datatable-body-cell {
    height: 30px !important;
}