<fieldset [formGroup]="situacionSalidaForm">
  <legend class="col-form-label">Egreso</legend>

  <div class="col-sm-12 form-horizontal">
    <div class="col-sm-2">
      <div class="form-horizontal">
        <input id="radioNoDescargoCargo" name="realizaDescargaCarga" formControlName="realizaDescargaCarga" type="radio" [value]="valorNoDescargoCargo"/>
        <label for="radioNoDescargoCargo" class="form-label">No {{ textoDescargaCarga }}</label>
      </div> 
    </div>
    <div class="col-sm-2">
      <div class="form-horizontal">
        <input id="radioDescargoCargo" name="realizaDescargaCarga" formControlName="realizaDescargaCarga" type="radio" [value]="valorDescargoCargo"/>
        <label for="radioDescargoCargo" class="form-label">{{ textoDescargaCarga }}</label>
      </div>
    </div>
    <div class="col-sm-2" *ngIf="!esDescarga">
      <div class="form-horizontal">
        <input id="radioCargoConError" name="realizaDescargaCarga" formControlName="realizaDescargaCarga" type="radio" [value]="valorCargoConError"/>
        <label for="radioCargoConError" class="form-label">{{ textoDescargaCarga }} con Error</label>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-horizontal">
        <yrd-lista-motivos-no-descarga class="col-sm-12" [motivosForm]="situacionSalidaForm.controls.motivos"></yrd-lista-motivos-no-descarga>
      </div>   
    </div>
  </div>
</fieldset>

