<div [formGroup]="form">
  <div class="form-vertical">
    <yrd-desplegable-terminal 
        class="col-sm-6"
        formControlName="terminal"
        #terminal
        [opcionSeleccione]="true"
        [cssClassControl]="'col-sm-3'"
        [permiso]="Permission.AdministrarPuntosCarga"
        [control]="form.get('terminal')">
    </yrd-desplegable-terminal>

    <yrd-texto-con-etiqueta 
        class="col-sm-6" 
        [cssClassControl]="'col-sm-3'"
        formControlName="puntoCarga" 
        [etiqueta]="'Nombre Punto de Carga'"
        [control]="form.get('puntoCarga')">
    </yrd-texto-con-etiqueta>

    <yrd-texto-con-etiqueta 
        class="col-sm-6" 
        [cssClassControl]="'col-sm-3'"
        formControlName="capacidadMaxima" 
        [etiqueta]="'Capacidad Maxima'"
        [control]="form.get('capacidadMaxima')">
    </yrd-texto-con-etiqueta>

    <yrd-checkbox-con-etiqueta
        class="col-sm-6"
        formControlName="habilitado"
        [cssClassControl]="'col-sm-4'"
        [control]="form.get('habilitado')"
        [etiqueta]="'Habilitado'">
    </yrd-checkbox-con-etiqueta>
  </div>
</div>