<form [formGroup]="form" novalidate>
  <fieldset>
    <yrd-search-form-template
      #searchFormComponent
      [botonesHabilitados]="botonesHabilitados"
      [permisosBotones]="permisosBotones"
      [columns]="columns"
      [filters]="filters"
      [hasDataEditSection]="true"
      [canSearch]="disableButtons"
      [singleSelection]="true"
      [rowsOptions]="rowsOptions">
      
      <ng-template #controlFiltersContainer>
        <yrd-filtro-administrar-lectura-humedimetro
          #filtro
          [form]="form.controls.filtros">
        </yrd-filtro-administrar-lectura-humedimetro>
      </ng-template>

      <ng-template #controlActionsContainer>
        <yrd-agregar-al-sobre-transporte
          [enable]="disableButtons"
          [idEntidad]="selectedId"
          [idTablaTransporte]="idTablaTransporte"
          (itemAgregado)="selected = []"
          [permission]="Permission.AdministrarLecturaHumedimetroTransportar">
        </yrd-agregar-al-sobre-transporte>
      </ng-template>

      <ng-template #controlEditDataContainer>
        <yrd-detalle-administrar-lectura-humedimetro
          #detalle
          [rubros]="rubros"
          [form]="form.controls.detalle">
        </yrd-detalle-administrar-lectura-humedimetro>

        <div class="float-right section-top-padding">
          <button class="btn btn-success"
            type="button"
            [disabled]="disableButtons || esConsulta"
            (click)="onClickAceptar()"
            i18n>Aceptar
          </button>
          <button class="btn btn-danger"
            type="button"
            [disabled]="disableButtons"
            (click)="onClickCancelar()"
            i18n>Cancelar
          </button>
        </div>
      </ng-template>
    </yrd-search-form-template>
  </fieldset>
</form>
